<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-home.css">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <div id="logo">
            logo      
        </div>
        <ul class="nav-links">
            <li>
                <img src="images/home-solid-light.svg" alt=""> <div class="nav-info">Home</div>
            </li>
            <li>
                <img src="images/project-light.svg" alt=""> <div class="nav-info">Projects</div>
            </li>
            <li>
                <img src="images/info-light.svg" alt=""> <div class="nav-info">About</div>
            </li>
            <li>
                <img src="images/contact-light.svg" alt=""> <div class="nav-info">Contact</div>
            </li>
        </ul>
        <div id="dark">
            <img src="images/half.svg" alt=""> <div class="nav-info">Dark mode</div>
        </div>
    </div>
    <div class="content">
        <div class="bckdrp"></div>
    </div>
   
   
    
    <script src="script.js"></script>
</body>
</html>