<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-index.css">
</head>
<body>

    <div class="content">
        <section class="navbar"> 
            <ul class="navlinks">
                <a href="/home"><li>Home</li></a>
                <li>Projects</li>
                <li>Resume</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </section>
        <section class="info">  
            <section class="text">
                <h1>
                    Hello, I am Vipul Kashyap 
                </h1>
                <p>
                    This is landing page for a website that acts as a portfolio for myself as well as my projects.
                    I am a designer, web developer programmer and so much more. To know more about me and my projects click on the learn more button down below 
                    or if you want to know something specific click on the nav links above.
                    <br>
                    thankyou
                </p>
            </section>
            <section class="image">
                jsbdcjsdnadncks
            </section>
        </section>
    </div>
    
</body>
</html>