:root{
    font-size: 16px;
    --bg-primary :#deecff;
    --bg-primary-hover: #aed0ff;
    --text-primary:#202040;
    
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('images/bg-light.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}
.navbar{
    
    font-size: 2rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    width: 5rem;
    box-shadow: 0 0 2em var(--text-primary);
    display: flexbox;
    flex-direction: column;
    align-items: center;
    transition: width 0.2s ease-in-out;
    
}
.navbar:hover{
    width: 15rem;
    
}
.nav-links{
    list-style: none;
    margin-top: 10rem;
   
    overflow: hidden;
    
}
.nav-links > li{
    padding-left: 1.5rem;
    display: flexbox;
    flex-direction: row;
    align-items: center;

    
}
.nav-links > li:hover{
    background-color: var(--bg-primary-hover);

}
.nav-links img{
    width: 2rem;
    height: 2rem;
    margin:0;
}
 .nav-info{
    opacity: 0;
    margin-left: 1rem;
    padding: 0;
    display: inline;
}
.navbar:hover .nav-links > li{
    padding-top: 2rem;
}
.navbar:hover .nav-info{
    opacity: 1;
   }
#dark{
   margin-top: 25vh;
    padding-left: 1.5rem;
    display: flexbox;
    flex-direction: row;
    align-items: center;
}
.navbar:hover #dark{
    margin-top: 27vh;
    
}
#dark img{
    height: 2rem;
    width: 2rem;
}

.bckdrp{
    opacity: 0;
    margin-left: 5rem;
    height: 100vh;
    width: 94.8%;
    background-color: rgba(0, 0, 0, 0.582);
    transition: width 0.2s ease;
    
}
.open{
    opacity: 1;
}