:root{
    font-size: 20px;
    --text-color-primary:#deecff;
    --text-color-hover: #aed0ff;
    --background-color : #202060;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("images/annie-spratt-KcpQKqYmvGE-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.content{
    background-image: url("images/annie-spratt-KcpQKqYmvGE-unsplash.jpg");
    height: 30rem;
    width: 60rem;
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;     
    box-shadow: 0 0 100rem #000000,inset 0 0 1rem var(--text-color-hover);
    overflow: hidden;
    
}
.navbar{
    background-color: rgba(0, 0, 0, 0.651);
    box-shadow: inset 0 0 5rem #000000, 0 0 5rem #000000;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    justify-content: center;
    padding-left: 4rem;   
}
.navlinks{
    
    list-style: none;
    display: flex;
    
    align-items: center;
    
}
.navlinks li{
    color: var(--text-color-primary);
    transition: 0.2s ease;
    padding: 1.5rem;
    padding-bottom: 1rem;
}

.navlinks li:hover{
    
    background-color:  rgba(0, 0, 0,1);
    color: var(--text-color-hover);
    border-bottom: var(--text-color-hover) solid;

}
.info{
    
    height: 26rem;
    display: grid;
    grid-template-columns: 40rem 1fr;

}
.text{
    padding: 5rem;
    
    color: var(--text-color-primary);
}
.text h1{

    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 5rem var(--text-color-hover);

}
.text p{
    padding: 1rem;
    box-shadow: inset 0 0 0.1rem var(--text-color-hover), 0 0 1rem var(--background-color);
    background-color: rgba(0, 0, 0, 0.705);
}

