@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=EB+Garamond:ital@1&display=swap');
:root{
    font-size: 20px;
    --text-color-primary:#deecff;
    --text-color-hover: #aed0ff;
    --background-color : #202060;
}
a{
    text-decoration: none;
    color: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    font-family: 'Dancing Script',cursive;
    color: var(--text-color-primary);
}

.landing{
    min-height: 100vh;
    background: url("./images/annie-spratt-KcpQKqYmvGE-unsplash.jpg");
    background-size: cover;
    padding: 0rem 5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    min-height: 15vh;
    align-items: center;
}
.nav-links{
    display: flex;
    list-style: none;
    
}
.nav-links li{
    align-items: center;
    padding: 0rem 1.5rem;
    transition: .2s;
    }
.nav-links li:hover{
    color: var(--text-color-hover);
    border-bottom: 2px solid var(--text-color-hover);
}
.intro{
    background: #1d4d4f;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.intro-text{
    color: var(--text-color-primary);
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
}
.slider{
    background: #357376;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    transform: translatex(100%);
  }
.hide{
    background: #1d4d4f;
    overflow: hidden;
} 
.hide span{
    display: inline-block;
    transform: translateY(100%);
}
 